/********************************************************/
/*********************Sign up Login form*****************/
/********************************************************/
.forms{
    width: 550px;
    margin: 100px auto 50px auto;
    padding: 20px;
    position: relative;
    background: lightblue;
}

.forms::before, .forms::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 2px;
    right: 2px;
    top: 0;
    z-index: -1;
    background: #fff;
    border: 1px solid #ccc;			
}

.forms::after{
    left: 4px;
    right: 4px;
    bottom: -5px;
    z-index: -2;
    -moz-box-shadow: 0 8px 8px -5px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 8px 8px -5px rgba(0,0,0,.3);
    box-shadow: 0 8px 8px -5px rgba(0,0,0,.3);
}

/*------------------------------*/

.forms h1{
    position: relative;
    font: italic 1em/3.5em 'trebuchet MS',Arial, Helvetica;
    color: ghostwhite;
    text-align: center;
    margin: 0 0 20px;
}

.forms h1::before, .forms h1::after{
    content:'';
    position: absolute;
    border: 1px solid rgba(0,0,0,.15);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
}

.forms h1::after{
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
}

/*------------------------------*/

::-webkit-input-placeholder{
    color: #bbb;
}

:-moz-placeholder{
    color: #bbb;
} 				    	

.placeholder{
    color: #bbb; /* polyfill */
}		

.forms input{
    margin: 5px 0;
    padding: 15px;
    width: 100%;
    *width: 518px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;	
}

.forms input:focus{
    outline: 0;
    border-color: #aaa;
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
}		

.forms #button{
    margin: 20px 0 0 0;
    padding: 15px 8px;			
    width: 100%;
    cursor: pointer;
    border: 1px solid #2493FF;
    overflow: visible;
    display: inline-block;
    color: #fff;
    font: bold 1.4em arial, helvetica;
    ext-shadow: 0 -1px 0 rgba(0,0,0,.4);		  
    background-color: #2493ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.5)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out; 
    -o-transition: background-color .2s ease-out;  
    transition: background-color .2s ease-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow:  0 2px 1px rgba(0, 0, 0, .3),0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .3),0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3),0 1px 0 rgba(255, 255, 255, .5) inset;			  						  
}

.forms #button:hover{
    background-color: #7cbfff;
    border-color: #7cbfff;
}

.forms #button:active{
    position: relative;
    top: 3px;
    text-shadow: none;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
}
/*******************************************/
/*****************Tabs CSS******************/
/*******************************************/
.tabs{
    width: 700px;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after{
    display:block;
    clear:both;
    content:'';
}

.tab-links{
    margin-left: 10px;
    margin-top: 40px;
}

.tab-links li{
    margin-left: 5px;
    float:left;
    list-style:none;
}
 
.tab-links a{
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}
 
.tab-links a:hover{
    background:#a7cce5;
    text-decoration:none;
}
 
li.active a, li.active a:hover{
    background:#fff;
    color:#4c4c4c;
}
 
/*----- Content of Tabs -----*/

.tab-content{
    margin-top: -100px;
}

.tab{
    display:none;
}
 
.tab.active{
    display:block;
}